<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 
    SQL Server Bağlantı Bilgilerini Aşağıda Düzenleyin:
    
    Yerel SQL Server için örnek:
    Server=localhost;Database=ArabaKiralama;User Id=sa;Password=Sifre123;
    
    Ya da:
    Server=.\SQLEXPRESS;Database=ArabaKiralama;User Id=sa;Password=Sifre123;
    
    Ağ üzerinden SQL Server için:
    Server=192.168.1.100;Database=ArabaKiralama;User Id=sa;Password=Sifre123;
    -->
		<add name="DefaultConnection"
			 connectionString="Server=KENDI_SUNUCU_ADRESI;Database=KENDI_VERITABANI;User Id=KENDI_KULLANICI;Password=KENDI_SIFRE;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>